<h2 class="marginLeft">Networks:</h2>
{{!-- {{#if isLoggedIn}}
  <h2>Welcome, {{user.username}}!</h2>
  <p>Your id is <strong>{{user.id}}</strong>.</p>
{{/if}} --}}
<h3 class="h3Center">
<label class="container">Netflix
  <input type="checkbox" checked="checked">
  <span class="checkmark"></span>
</label>

<label class="container">HBO
  <input type="checkbox">
  <span class="checkmark"></span>
</label>

<label class="container">Hulu
  <input type="checkbox">
  <span class="checkmark"></span>
</label>

<label class="container">Disney+
  <input type="checkbox">
  <span class="checkmark"></span>
</label>
</h3>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea quasi ab harum
  sequi quis iure voluptatibus doloremque dicta optio maiores!
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum mollitia corporis minima ipsa veritatis. Tempora placeat iste, quisquam dolor delectus inventore hic ducimus. Debitis rerum autem quo ex ad! Reprehenderit!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea quasi ab harum
  sequi quis iure voluptatibus doloremque dicta optio maiores!
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum mollitia corporis minima ipsa veritatis. Tempora placeat iste, quisquam dolor delectus inventore hic ducimus. Debitis rerum autem quo ex ad! Reprehenderit!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea quasi ab harum
  sequi quis iure voluptatibus doloremque dicta optio maiores!
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum mollitia corporis minima ipsa veritatis. Tempora placeat iste, quisquam dolor delectus inventore hic ducimus. Debitis rerum autem quo ex ad! Reprehenderit!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea quasi ab harum
  sequi quis iure voluptatibus doloremque dicta optio maiores!
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum mollitia corporis minima ipsa veritatis. Tempora placeat iste, quisquam dolor delectus inventore hic ducimus. Debitis rerum autem quo ex ad! Reprehenderit!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea quasi ab harum
  sequi quis iure voluptatibus doloremque dicta optio maiores!
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum mollitia corporis minima ipsa veritatis. Tempora placeat iste, quisquam dolor delectus inventore hic ducimus. Debitis rerum autem quo ex ad! Reprehenderit!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea quasi ab harum
  sequi quis iure voluptatibus doloremque dicta optio maiores!
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum mollitia corporis minima ipsa veritatis. Tempora placeat iste, quisquam dolor delectus inventore hic ducimus. Debitis rerum autem quo ex ad! Reprehenderit!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea quasi ab harum
  sequi quis iure voluptatibus doloremque dicta optio maiores!
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum mollitia corporis minima ipsa veritatis. Tempora placeat iste, quisquam dolor delectus inventore hic ducimus. Debitis rerum autem quo ex ad! Reprehenderit!</p>


{{!-- {{#unless isLoggedIn}}
  <br />
  <a class='btn' href='/signup'>Sign Up</a>
{{/unless}} --}}