<h2 class="marginLeft">Networks:</h2>
{{!-- {{#if isLoggedIn}}
  <h2>Welcome, {{user.username}}!</h2>
  <p>Your id is <strong>{{user.id}}</strong>.</p>
{{/if}} --}}
<h3 class="h3Center">
<label class="container">Netflix
  <input type="checkbox" checked="checked">
  <span class="checkmark"></span>
</label>

<label class="container">HBO
  <input type="checkbox">
  <span class="checkmark"></span>
</label>

<label class="container">Hulu
  <input type="checkbox">
  <span class="checkmark"></span>
</label>

<label class="container">Disney+
  <input type="checkbox">
  <span class="checkmark"></span>
</label>
</h3>

<h2 class="marginLeft"><label for="name">Show/Movie</label></h2>
<input class="marginLeft" type="text" id="name">

<h2 class="marginLeft"><label for="name">Blog</label></h2>
<input class="marginLeft input-element" type="text" id="name">

<h2 class="marginLeft submit"><input type="submit" value="Submit"/></h2>