<form class="post-form">
  <select class="form-select" id="shows" aria-label="Default select example">
  <option selected>Select a Show</option>
  {{#each shows as |show|}}
  <option value="{{show.id}}">{{show.title}}</option>
  {{/each}}
  </select>
  
  <h2 class="marginLeft"><label for="name">Post</label></h2>
  <input class="marginLeft input-element" type="text" id="text-context">

  <h2 class="marginLeft submit-btn submit"><input type="submit" value="Submit"/></h2>
</form>

<footer class="footer-bkg">
    <h1><a href="/" class="fontBlack">Home</a></h1>
    <div class="separator"></div>
    <h1><a href="/post" class="fontBlack btn-post">Post</a></h1>
    <div class="separator"></div>
    {{#if loggedIn}}
    <h1><a href="/" class="fontBlack btn-logout1">Logout</a></h1>
    {{else}}
    <h1><a href="/login" class="fontBlack">Login</a></h1>
    {{/if}}
  </footer>

 <script src='/js/post.js'></script>