<div class="signup-margin">
  <h1>Sign Up</h1>

  <form class='signup-form'>
    <label for='email'>Email</label><br />
    <input type='text' name='email' id='email-signup' /><br />
    <label for='username'>Username</label><br />
    <input type='text' name='username' id='username-signup' /><br />
    <label for='password'>Password</label><br />
    <input type='password' name='password' id='password-signup' /><br />
    <button class='btn' type='submit'>Submit</button>
  </form>

  <p>Already have an account yet? <a href='/login'>Log In Here</a></p>
  <p><a href='/'>Continue as Guest</a></p>
</div>

<script src='/js/signup.js'></script>